#bad-hombre ::selection {
  background: #0067C6;
  /* WebKit/Blink Browsers */
  color: white; }

#bad-hombre ::-moz-selection {
  background: #0067C6;
  /* Gecko Browsers */
  color: white; }

#dale-lari-section ::selection {
  background: #724A9E;
  /* WebKit/Blink Browsers */
  color: white; }

#dale-lari-section ::-moz-selection {
  background: #724A9E;
  /* Gecko Browsers */
  color: white; }

#pendo-letter ::selection {
  background: #ec2059;
  /* WebKit/Blink Browsers */
  color: white; }

#pendo-letter ::-moz-selection {
  background: #ec2059;
  /* Gecko Browsers */
  color: white; }

#nimble-letter ::selection {
  background: #2ADF97;
  /* WebKit/Blink Browsers */
  color: white; }

#nimble-letter ::-moz-selection {
  background: #2ADF97;
  /* Gecko Browsers */
  color: white; }

@media (min-width: 64em) {
  .hide-on-desktop {
    display: none; } }

@media (max-width: 64em) {
  .hide-on-mobile {
    display: none; } }

#nombre-grande, .section-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 800;
  font-size: 132px;
  margin-left: -5px; }

.section-title {
  font-size: 66px; }

.pendo-pink {
  color: #ec2059; }

.nimble-green {
  color: #2ADF97; }

p, li, button,
.h1, .h2, .btn {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; }

ul li {
  margin-bottom: 5px;
  line-height: 1.5; }

p {
  font-weight: 400;
  font-size: 18px; }

button, .btn {
  border-color: black;
  color: white;
  background-color: black;
  border: 2px solid black;
  padding: 13px 20px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: normal; }
  button:hover, .btn:hover {
    background-color: #515461;
    border: 2px solid #515461; }
  button.disabled, .btn.disabled {
    cursor: inherit;
    background-color: white;
    color: black; }

a {
  text-decoration: none; }
