#bad-hombre ::selection {
  background: #0067C6;
  /* WebKit/Blink Browsers */
  color: white; }

#bad-hombre ::-moz-selection {
  background: #0067C6;
  /* Gecko Browsers */
  color: white; }

#dale-lari-section ::selection {
  background: #724A9E;
  /* WebKit/Blink Browsers */
  color: white; }

#dale-lari-section ::-moz-selection {
  background: #724A9E;
  /* Gecko Browsers */
  color: white; }

#pendo-letter ::selection {
  background: #ec2059;
  /* WebKit/Blink Browsers */
  color: white; }

#pendo-letter ::-moz-selection {
  background: #ec2059;
  /* Gecko Browsers */
  color: white; }

#nimble-letter ::selection {
  background: #2ADF97;
  /* WebKit/Blink Browsers */
  color: white; }

#nimble-letter ::-moz-selection {
  background: #2ADF97;
  /* Gecko Browsers */
  color: white; }

@media (min-width: 64em) {
  .hide-on-desktop {
    display: none !important; } }

@media (max-width: 64em) {
  .hide-on-mobile {
    display: none !important; } }

#nombre-grande, .section-title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 800;
  font-size: 132px;
  margin-left: -5px; }

.section-title {
  font-size: 66px; }

.pendo-pink {
  color: #ec2059; }

.nimble-green {
  color: #2ADF97; }

p, li, button,
.h1, .h2, .btn {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; }

ul li {
  margin-bottom: 5px;
  line-height: 1.5; }

p {
  font-weight: 400;
  font-size: 18px; }

button, .btn {
  border-color: black;
  color: white;
  background-color: black;
  border: 2px solid black;
  padding: 13px 20px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: normal; }
  button:hover, .btn:hover {
    background-color: #515461;
    border: 2px solid #515461; }
  button.disabled, .btn.disabled {
    cursor: inherit;
    background-color: white;
    color: black; }

a {
  text-decoration: none; }

@media print {
  #edwins-face,
  #navbar,
  .btn {
    display: none !important; }
  #nombre-grande,
  .section-title {
    font-size: 32px; } }

/***************************************************************************************************
 *                                            TIMELINE                                             *
 ***************************************************************************************************/
.timeline-container * {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

.timeline-container button, .timeline-container .btn {
  padding: 13px 20px;
  border: 2px solid black;
  margin-bottom: 1rem; }

.timeline-container hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden; }

.timeline-container .mb0 {
  margin-bottom: 0; }

.timeline-container .mb1 {
  margin-bottom: .5rem; }

.timeline-container .ml1 {
  margin-left: 0.5rem; }

.timeline-container .mt1 {
  margin-top: 0.5rem; }

.timeline-container p {
  margin-top: 0;
  margin-bottom: 1rem; }

.timeline {
  position: relative;
  list-style: none; }
  .timeline:before {
    background-color: black;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 0.75em;
    width: 2px;
    height: 100%; }

.event {
  position: relative; }

.icon {
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0.5em;
  left: 0.75em;
  width: 1em;
  height: 1em; }

.timeline-body {
  padding: 2em 2em 0 2em;
  position: relative;
  top: -1.875em;
  left: 0.75em; }
  .timeline-body ul li {
    margin-bottom: 5px; }

/***************************************************************************************************
 *                                             BUBBLE                                              *
 ***************************************************************************************************/
blockquote {
  margin: 1em 0; }

blockquote p {
  margin: 0; }

.bubble {
  display: inline-block;
  position: relative;
  padding: 15px;
  margin: 10px 0 0.5em;
  color: #333;
  background: #eee;
  /* css3 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /* creates the triangle */ }
  .bubble p {
    line-height: 1.25em; }
  .bubble:after {
    content: "";
    position: absolute;
    top: -30px;
    left: 50px;
    border: 15px solid transparent;
    border-bottom-color: #eee;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0; }
